*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    scroll-behavior: smooth;
    background:#000;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top; max-width: 100%;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
body::-webkit-scrollbar {
    width: 12px;               
}
body::-webkit-scrollbar-track {
    background-color: #000000;     
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(105.56deg, #73F2BD 18.43%, #8AF9AD 89.58%);
	box-shadow: 0px 24px 64px rgba(138, 249, 173, 0.3);    
    border-radius: 20px;       
}
body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(139.33deg, #3963ee -14.59%, #3ddee9 99.86%);
	box-shadow: 0px 14px 44px rgba(220, 152, 57, 0.6);   
    border-radius: 20px;       
}
@keyframes arrowAnim {
    0%{
        background-color:#73f2bd00;
    }
    50%{
        background-color: #73F2BD;
    }
    100%{
        background-color: #73f2bd00;
    }
}
@keyframes logoAnim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.11);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes linksAnim{
    0%{
        color: #fff;
    }
    50%{
        color: #73F2BD;
    }
    1000%{
        color: #fff;
    }
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
iframe{
    width: 960px;
    height: 480px;
}
.fullscreen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: .4s;
    background-color:#000;
    background: url(/images/mainfon.png) no-repeat center center fixed;
}
.fullscreen._active{
    opacity: 1;
}
.fullscreen__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.fullscreen__description{
    margin: 10px 5px;
}
.stack__container {
    display: flex;
    max-width: 1200px;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
    transition: all .6s ease .9s;
}
.stack__container._active{
    opacity: 1;
}
.__elem1 {
    color: #e90505;
}
.__elem2 {
    color: #4355ff;
}
.__elem3 {
    color: #ffd900;
}
.__elem4 {
    color: #e26cd2;
}
.__elem5 {
    color: #6887f0;
}
.__elem6 {
    color: #f55538;
}
.__elem7 {
    color: #ffd563;
}
.__elem8 {
    color: #73F2BD;
}
.stack__elem {
    margin: 10px 5px;
    font-size: 18px;
    font-family: 'Montserrat';
}
.fullscreen__title {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #ffffff5d 0% , #FFFFFF 51.26%, #ffffff5d 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.fullscreen__title._active{
    opacity: 1;
    transform: translateY(0%);
}

.content__link {
    margin-top: 20px;
    padding: 10px;
    border-radius: 50%;
    transform: translateY(100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.content__link._active{
    opacity: 1;
    transform: translateY(0%);
}
.fa-arrow-circle-down {
    font-size: 50px;
    color:#fff;
    transition: .2s;
    padding: 10px;
    border-radius: 50%;
    animation: arrowAnim 2s ease 0s infinite;
}
.fa-arrow-circle-down:hover{
    animation-play-state: paused;
    transition: .2s;
    box-shadow: 0 0 15px #fff;
}
.fa-arrow-circle-down:active{
    transform: scale(1);
}
/* .fullscreen__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.downHeader {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    z-index: 5;
    background:rgba(0, 0, 0, 0.48);
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
}
.downHeader__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downHeader__link {
    font-family: 'Montserrat';
    font-size: 24px;
    color: #fff;
}
.downHeader__link:hover{
    color: #73F2BD;
}
.display-none{
    display: none;
}
.content{
    position: relative;
    z-index: 3;
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.733); */
}
.__container{
    max-width: 1440px;
    margin: 0px auto;
    overflow: hidden;
    padding: 30px;
}

.__text{
    text-align: center;
    padding: 10px;
}
.__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    /* identical to box height */
    letter-spacing: 0.2em;
    margin: 5px 10px;
    
}
.__subtitle{
    margin: 10px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}
.__links{
    text-align: center;
    margin: 25px 5px;
}

.__link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
}
.__iframe {
    box-shadow: 0 0 15px #000;
    transition: .3s;
    
}
.__iframe:hover{
    box-shadow: 0 0 25px #000;
    transition: .3s;
}
.nimble {
    padding: 80px 0;
    background: url(/images/nimbleimg/nimblefon.png) center no-repeat, #000;
    transition: 1s;
    transform: translateX(100%);
}
.nimble._active{
    transform: translateX(0%);
}
.nimble__container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nimble__text{
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.nimble__text._active{
    transform: translateX(0%);
    opacity: 1;
}
.nimble__title {
    color: #8DF273;
}
.nimble__subtitle {
    color: #BBFBAB;
}
.nimble__primer-site {
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s ease .8s;
    position: relative;
}
.nimble__primer-site._active{
    transform: translateX(0%);
    opacity: 1;
}

.nimble__site::before{
    content:'Nimble';
    color:#fff;
    font-size: 24px;
    font-family: 'Montserrat';
    color: #8DF273;
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 17%;
    left: -5px;
    display: block;
    width: 140px;
    height: 32px;
    background-color:#1f4416;
    box-shadow:0 0 15px #000;
    box-shadow:0 0 15px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nimble__link {
    color: #64BC77;

}
.nimble__link:hover{
    color:#fff;
}
.axit {
    padding: 85px 0;
    background: url(/images/axitimg/axitfon.png) center no-repeat fixed, #FAFAFA;
    transform: translateX(-100%);
    transition: 1s;
}
.axit._active{
    opacity: 1;
    transform: translateX(0%);
}
.axit__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.axit__primer-site {
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
    position: relative;
}
.axit__primer-site._active{
    transform: translateX(0%);
    opacity: 1;
}
.axit__site::before{
    content:'AXIT';
    color:#fff;
    font-size: 24px;
    font-family: 'Montserrat';
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 17%;
    left: -5px;
    display: block;
    width: 140px;
    height: 32px;
    background-color:#000000;
    box-shadow:0 0 15px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.axit__link {
    color: #F4946B;
}
.axit__link:hover{
    color: #000;
}
.axit__text{
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.axit__text._active{
    transform: translateX(0%);
    opacity: 1;
}
.axit__title {
    color: #FF9212;
}
.axit__subtitle {
    color: #FF9212;
}
.tour {
    transition: 1s;
    transform: translateX(100%);
    padding: 85px 0;
    background:url(/images/tourimg/tourfon.png) center no-repeat  fixed, #1A2843;
}
.tour._active{
    transform: translateX(0%);
}
.tour__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tour__text{
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.tour__text._active{
    transform: translateX(0%);
    opacity: 1;
}
.tour__title {
    color: #FFE712;
}
.tour__subtitle {
    color: #FFD912;
}
.tour__primer-site{
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s ease .8s;
    position: relative;
}
.tour__primer-site._active{
    transform: translateX(0%);
    opacity: 1;
}
.tour__site::before {
    content:'ТУРЫ';
    color:#FFD912;
    font-size: 24px;
    font-family: 'Montserrat';
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 17%;
    left: -5px;
    display: block;
    width: 140px;
    height: 32px;
    background-color:#1a2b47;
    box-shadow:0 0 15px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tour__link {
    color: #FFE712;
}
.tour__link:hover{
    color: #FF9212;
}
.layer {
    transform: translateX(-100%);
    transition: 1s;
    padding: 100px 0;
    background: url(/images/layerimg/layerfon.png) center fixed, #fff;
}
.layer._active{
    transform: translateX(0%);
}
.layer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layer__primer-site {
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
    position: relative;
}
.layer__primer-site._active{
    transform: translateX(0%);
    opacity: 1;
}
.layer__site::before {
    content:'Юр. Услуги';
    color:#fff;
    font-size: 24px;
    font-family: 'Montserrat';
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 17%;
    left: -5px;
    display: block;
    width: 140px;
    height: 53px;
    background-color:#801c06;
    box-shadow:0 0 15px #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.layer__link {
    color: #FF3D12;
}
.layer__link:hover{
    color: #801c06;

}
.layer__text{
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.layer__text._active{
    transform: translateX(0%);
    opacity: 1;
}
.layer__title {
    color: #FF3D12;
}
.layer__subtitle {
    color: #FF3D12;
}
.business {
    transform: translateX(100%);
    transition: 1s;
    padding: 100px 0;
    background: url(/images/businessimg/businessfon.png) center fixed, #fff;
}
.business._active{
    transform: translateY(0%);
}
.business__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.business__text{
    transform: translateX(-100%);
    opacity: 0;
    transition: all .5s ease .8s;
}
.business__text._active{
    transform: translateX(0%);
    opacity: 1;
}
.business__title {
    color: #F1A40E;
}
.business__subtitle {
    color: #F1A40E;
}
.business__primer-site{
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s ease .8s;
    position: relative;
}
.business__primer-site._active{
    transform: translateX(0%);
    opacity: 1;
}
.business__site::before {
    content:'Boost up';
    color:#FFD912;
    font-size: 24px;
    font-family: 'Montserrat';
    padding-top: 5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    z-index: 4;
    top: 17%;
    left: -5px;
    display: block;
    width: 140px;
    height: 32px;
    background-color:#80ade7;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.507);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.business__link {
    color: #F1A40E;
}
.business__link:hover{
    color: #f1740e;
}
.footer {
    position: relative;
    width: 100%;
    z-index: 3;
    background-color: #000;
    }

.footer__container {
        transform: scale(0);
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1200px;
    }
.footer__container._active{
        transform: scale(1);
    }
.footer__title {
        text-align: center;
        margin: 10px 10px;
        color: #73F2BD;
        font-size: 20px;
    }
.footer__links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
.footer__link {
        margin: 10px 5px;
        font-size: 18px;
        color: #73F2BD;
        transition: .3s;
        font-family: 'Montserrat';
    }
    .footer__link:nth-child(1){
        animation: linksAnim 2s ease 0.2s infinite alternate;
    }
    .footer__link:nth-child(2){
        animation: linksAnim 2s ease 0.4s infinite alternate;
    }
    .footer__link:nth-child(3){
        animation: linksAnim 2s ease 0.6s infinite alternate;
    }
    .footer__link:nth-child(4){
        animation: linksAnim 2s ease 0.8s infinite alternate;
    }
    .footer__link:hover{
        transition: .3s;
        color: #fff;
        animation-play-state:paused;
    }
    .fab {
        transition: .3s;
    }
    .fab:hover{
        transition: .3s;
        color: #fff;
        transform: scale(1.111);
    }
    .fa-vk {
        font-size: 40px;
    }
    .fa-telegram-plane {
        font-size: 40px;
    } 

@media(max-width:1375px) {
    .nimble__container{
        flex-direction: column;
        justify-content: center;
    }
    .axit__container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .tour__container{
        flex-direction: column;
        justify-content: center;
    }
    .layer__container{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .business__container{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:1205px){
    .footer {
    position: relative;
    width: 100%;
    z-index: 3;
    background-color: #000;
    padding-bottom: 50px;
    }

    .footer__container {
        transform: scale(0);
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1200px;
    }
    .footer__container._active{
        transform: scale(1);
    }
    .footer__title {
        text-align: center;
        margin: 15px 10px;
        color: #73F2BD;
    }
    .footer__links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer__link {
        margin: 15px 5px;
        font-size: 24px;
        color: #73F2BD;
        transition: .3s;
        font-family: 'Montserrat';
    }
    .footer__link:nth-child(1){
        animation: linksAnim 2s ease 0.2s infinite alternate;
    }
    .footer__link:nth-child(2){
        animation: linksAnim 2s ease 0.4s infinite alternate;
    }
    .footer__link:nth-child(3){
        animation: linksAnim 2s ease 0.6s infinite alternate;
    }
    .footer__link:nth-child(4){
        animation: linksAnim 2s ease 0.8s infinite alternate;
    }
    .footer__link:hover{
        transition: .3s;
        color: #fff;
        animation-play-state:paused;
    }
    .fab {
        transition: .3s;
    }
    .fab:hover{
        transition: .3s;
        color: #fff;
        transform: scale(1.111);
    }
    .fa-vk {
        font-size: 40px;
    }
    .fa-telegram-plane {
        font-size: 40px;
    } 
}
@media(max-width:1149px){
    .header__container{
        justify-content: center;
    }
    /* body.lock{
        overflow: hidden;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
		margin: 10px;
    }
    .header__burger span{
        position: absolute;
        background-color: #73F2BD;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all .3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #73F2BD;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
        box-shadow: 2px 2px 10px black;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.507);
        padding: 90px 0px 0px 0px;
        transition: all .59s ease 0s;

    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
		padding: 50px;
    }
    .header__links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header__link{
        font-size: 24px;
		
    } */
}
@media (max-width:972px){
    iframe{
        width: 660px;
        height: 480px;
    }
}
@media (max-width:680px){
    iframe{
        width: 360px;
        height: 480px;
    }
}
@media (max-width:580px) {
    .fullscreen__title{
        font-size: 23px;
        line-height: 30px;
    }
}
@media (max-width:380px) {
    .fullscreen__title{
        font-weight: 700;
        text-align: center;
        line-height: 35px;
        padding: 0 25px;
    }
    .footer__link{
        font-size: 18px;
    }
    iframe{
        width: 320px;
        height: 480px;
    }
}
