/* обнуляющие стили */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	/* фоновую картинку страницы сюда */
    background: url(/image/123.png)center fixed;
    width: 100%;
    height: 100vh;
}

/* контейнер страницы */
.container{
    max-width: 1259px;
    margin: 0 auto;
}
/* оболочка всех трех блоков */
.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 90px;
	max-height: 753px;
}
/* стили блока с внешним видом */
.skin__block {
	background-color: rgba(0, 0, 0, 0.330);
	border: 2px solid #A862FF;
	border-radius: 5px;
}
/* заголовок */
.skin__text{
	color: #fff;
	font-size: 24px;
	width: 215px;
	height: 65px;
	background-color: #a962ff9c;
	text-align: center;
	border-radius: 3px;
	padding: 15px;
}
/* область модельки */
.skin__model {
	width: 340px;
	height: 530px;
	margin:0px 165px;
	margin-top: 32px;
	border:2px solid black;
}
/* кнопка сменить скинь */
.skin__button{
	display: flex;
	justify-content: center;
} 
.skin__link{
	text-align: center;
	display: block;
	width: 200px;
	height: 45px;
	margin: 44px 10px;
	padding: 10px;
	background-color: #A862FF;
	transition: 0.3s;
	border-radius:5px;
}
.skin__link:hover{
	background-color: #b983fb;
	transition: 0.3s;
}
.skin__link:active{
	background-color: #A862FF;
}
.skin__link p{
	color: #fff;
	font-size: 24px;
	font-weight: 600;
}
/* стили блока информации */
.info__block {
	background-color: rgba(0, 0, 0, 0.330);
	border: 2px solid #A862FF;
	border-radius: 5px;
	max-width: 550px;
}
/* заголовок */
.info__text {
	color: #fff;
	font-size: 24px;
	max-width: 215px;
	height: 65px;
	background-color: #a962ff9c;
	text-align: center;
	border-radius: 3px;
	padding: 15px;
}
/* оболочка текста */
.infoUser__blocks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:30px 50px;
}
.infoUser__text {
	color: #fff;
	font-size: 22px;
	font-weight: 600;
}
.infoUserData {
	color: #fff;
	font-size: 20px;
}
.Ban {
	color: red;
}
/* стили блока с балансом */
.balans__blocks {
	background-color: rgba(0, 0, 0, 0.330);
	border: 2px solid #A862FF;
	border-radius: 5px;
	max-width: 550px;
	margin-top: 45px;
}
/* заголовок */
.balans__text {
	color: #fff;
	font-size: 24px;
	max-width: 215px;
	height: 65px;
	background-color: #a962ff9c;
	text-align: center;
	border-radius: 3px;
	padding: 15px;
}
/* оболочка баланса */
.balans__block {
	width: 250px;
	height: 140px;
	background-color: #a962ff9c;
	text-align: center;
	margin: 50px 160px;
	transition: 0.2s;
	border-radius:5px;
	border: 1px solid #A862FF;
}
.balans__block:hover{
	background-color:#A862FF;
	transition: 0.2s;
}
/* оболчка релоад и пополнить */
.balans__links {
	display: flex;
	justify-content: end;
}
/* общий стиль иконок */
.fa {
	color: #fff;
	font-size: 25px;
	padding: 10px;
}
.fa:hover{
	color: #cca3ff;
}
.fa:active{
	color: #fff;
}
/* стиль числа */
.balans__numbers {
	color: #fff;
	font-size: 45px;
	font-weight: 600;
}
.balans__numbers p{
	color: #fff;
	font-size: 20px;
}
/* адаптивные разрешения */
@media(max-width:1299px){
	.main{
		justify-content: center;
		
	}
	.skin__block{
		margin: 10px;
	}
	.info-balans-blocks {
		margin: 15px;
	}
	.balans__block {
		margin: 30px 130px;
	}
}
@media(max-width:720px){
	.skin__model{
		margin: 0 100px;
		margin-top: 32px;
	}
}
@media(max-width:570px){
	.skin__model{
		margin:0 20px;
		margin-top: 32px;
	}
	
	.infoUser__blocks{
		flex-direction: column;
		justify-content: center;
	}
	.infoUser__text{
		font-size: 30px;
		padding-bottom: 5px;
	}
	.infoUserData{
		font-size: 25px;
	}
	.balans__block {
		margin: 30px 60px;
	}
}
@media(max-width:390px){
	.skin__model{
		width: 280px;
		height: 480px;
	}
	.infoUser__blocks{
		margin: 30px 10px;
	}
	.balans__block {
		margin: 30px 40px;
	}
}
@media(max-width:320px){
	.skin__model{
		width: 280px;
		height: 480px;
	}
	.infoUser__blocks{
		margin: 30px 20px;
	}
}